  .jumbotron-bg-image {
      background-image: url(../assets/portfolio\ 1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }
  .jumbotron{
   
  }
  body{
    color: #3b6fa2
  }