  .jumbotron-bg-image {
      background-image: url(../assets/portfolio\ 1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
  }
  .jumbotron{
    height: 50vh;
  }
  .jumbotro{
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: #e9ecef;
        border-radius: .3rem;
      }
  }
  body{
    color: #3b6fa2;
    font-family:lobster;
  }
  .success{
      background-image: url(../assets/back2.webp);
  }